@charset 'utf-8';

/* 
.container span {
    color: purple;
}

.container > span {
    color: pink;
}
 */


 
 .container {
     position: relative;
     width: 30px; 
     height: 30px;
     background: purple;
     top: 50px;
     left: 50px;
     transition: 40ms;
     
 }