@charset "UTF-8";

* {
    font-size: 50px;
}

.title {
    color: red;
}

#contents {
    color: blue;
}

.contents {
    width: 500px; 
    height: 500px;
    margin: 0 auto;
    padding: 50px 30px 50px 30px;
    background: aqua;
    border: 10px solid red;
    box-shadow:navajowhite;
}