<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>글자를 입력해 보세요!</h1>
  <form action="{% url 'result' %}" method="post">{% csrf_token %}
      {% comment %} action에 result로 이동한다고 적었기 때문에 result로 옮겨가게 된다 {% endcomment %}
      {% comment %} 크릴리 브레이시스 퍼센트 csrf_token 보완취약점이 생길 수 있다. 기본적으로 제공해주는  {% endcomment %}
      <textarea name="text" cols="30" rows="10"></textarea>
          <br/>
        <input type="submit" value="제출" />
  </form>
    
</body>
</html>