.entire {

}

.container1 {
    display: flex;

}

.container2 {
    display: flex;
    margin-left: 150px;
}

.box {
    height: 50px;
    width: 50px;
    background-color: rgb(110, 110, 210);
    border-radius: 5px;
}