.box_container {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(45, 136, 184);
    border-radius: 10px;
}

.box {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(166, 209, 223);
    border-radius: 10px;
    top: 95px;
    left: 95px;
}


.box_container_test {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 1px solid rgb(45, 136, 184);
    border-radius: 10px;
}



.box_test {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(166, 209, 223);
    border-radius: 10px;
}


.box_container_after {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(45, 136, 184);
    border-radius: 10px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.box_container_after:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 130%;
    content: '';
}

.box_after {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(166, 209, 223);
    border-radius: 10px;
}